@model IEnumerable<Mail>
@{
    ViewBag.Title = "Starred - " + User.Identity.Name;
}
@section Styles{
    <link rel="stylesheet" href="/css/inbox.css" />
}
<div class="btnPanel">
    <a asp-action="Starred"><i class="fas fa-redo small-btn"></i></a>
</div>

<div class="mainSection">
    @if (Model.Count() == 0) { 
    <h4>No starred messages. Stars let you give messages a special status to make them easier to find. To star a message, click on the star outline beside any message or conversation.</h4>
    }
    <table class="table">
        <tbody>
            @foreach (var mail in Model)
            {
                <tr onclick="location.href = '@Url.Action("Details", "Mail", new { id = mail.Id })'" class="@(mail.MarkAsRead?"":"markAsReadClass")">
                    <td class="star">

                        <a asp-route-id=@mail.Id asp-action="starredBtnClick"><i class="fas fa-star fa-lg starMail"></i></a>
                    </td>
                    <td class="nameMail">
                        @(mail.SenderUserModel.FirstName+" "+mail.SenderUserModel.LastName)
                    </td>
                    <td class="subject">
                        @mail.Subject
                    </td>
                    <td class="date">
                        @mail.Date
                    </td>
                    <td class="delete">
                        <a asp-route-id=@mail.Id asp-action="deleteBtnClick">
                            <i class="fa fa-trash fa-lg small-btn"></i>
                        </a>
                    </td>
                    <td class="read">
                        @if (mail.MarkAsRead)
                        {
                            <a asp-route-id=@mail.Id asp-action="markAsReadClick">
                                <i class='fa fa-envelope fa-lg small-btn'></i>
                            </a>
                        }
                        else
                        {
                            <a asp-route-id=@mail.Id asp-action="markAsReadClick">
                                <i class='fa fa-envelope-open fa-lg small-btn'></i>
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{

}