
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" href="/Images/logo.ico" />
    <!-- External CSS -->
    <link rel="stylesheet" href="/css/afterLogin.css">
    <link rel="stylesheet" href="/css/style.css" />
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    @if(IsSectionDefined("Styles"))
    {
    RenderSection("Styles", required: false);
    }
</head>
<body>
    <div class="wrapper">
        <div class="top_navbar">
            <div class="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="top_menu">
                <div class="logo">Email System</div>
                <ul>
                    <div class="dropdown">
                        <img src=@("/Images/"+User.FindFirst("userProfile").Value) class="dropbtn rounded-circle">
                        <div class="dropdown-content">
                            <div class="dropdown-item">
                                <img src=@("/Images/"+User.FindFirst("userProfile").Value) ToolTip="profile" class="navProfileImg rounded-circle" />
                            </div>
                            <div class="dropdown-item">
                                @(User.FindFirst("userFirstName").Value +" "+User.FindFirst("userLastName").Value)
                            </div>
                            <div class="dropdown-item">
                                @User.Identity.Name
                            </div>

                            <div class="dropdown-item">
                                <a asp-action="Profile" class="profileLink btn btn-light"> Manage my account</a>
                            </div>
                            <hr />

                            <div class="dropdown-item">
                                <a asp-controller="Account" class="logout" asp-action="Logout">logout</a>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>

        <div class="sidebar-c">
            <ul>
                <li>
                    <a asp-action="Compose">
                        <span class="s-icon"><i class="fas fa-edit"></i></span>
                        <span class="s-title">Compose</span>
                    </a>

                </li>
                <li>
                    <a asp-action="Inbox" >
                        <span class="s-icon"><i class="fas fa-inbox"></i></span>
                        <span class="s-title">Inbox</span>
                    </a>
                </li>
                <li>
                    <a asp-action="Starred" >
                        <span class="s-icon"><i class="fas fa-star"></i></span>
                        <span class="s-title">Starred</span>
                    </a>
                </li>
                <li>
                    <a asp-action="SentMails" >
                        <span class="s-icon"><i class="fas fa-share-square"></i></span>
                        <span class="s-title">Sent</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main_container">
            @RenderBody()
        </div>
        <script src="/lib/jquery/jquery.js"></script>

        <script type="text/javascript" src="/js/afterLogin.js"></script>
        @if (IsSectionDefined("Scripts"))
        {
        @RenderSection("Scripts", required: false);
        }
</body>
</html>
